.wrapper {
  padding: 0px 56px;
}
.header-container {
  max-width: 1384px;
  margin: 0 auto;
  padding-bottom: 370px;
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0px 191px 0px;
}
.header-logo-content {
  font-size: 32px;
}
.header-logo {
  display: flex;
  align-items: center;
  gap: 0 8px;
}
.menu {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  gap: 0 40px;
}
.menu-link {
  text-decoration: none;
  font-size: 20px;
  color: var(--black);
}
.selected {
  color: var(--green);
  font-weight: 700;
  letter-spacing: -0.4px;
}
.header-main {
  display: flex;
  align-items: center;
}
.header-title {
  font-size: 64px;
  line-height: 80px;
  display: inline-block;
  font-weight: 400;
  width: 608px;
  /* margin: 0; */
  padding-bottom: 24px;
  height: 240px;
}
.header-description {
  line-height: 32px;
  width: 608px;
  font-size: 24px;
  height: 64px;
  padding-bottom: 24px;
  letter-spacing: -0.48px;
  font-weight: 400;
  color: var(--gray);
}
.header-image-main {
  width: 712px;
  height: 488px;
}
.header-button {
  width: 245px;
  height: 64px;
  background-color: var(--green);
  border-radius: 8px;
  border-color: #fff;
  border: 0;
  padding: 20px 24px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
}

.first-section {
  max-width: 1384px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 193px;
}
.first-section-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 23px;
}
#first-section-title {
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  color: var(--black);
  padding-bottom: 24px;
}
#first-section-description {
  max-width: 895px;
  color: var(--black);
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.36px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 24px;
}

.first-section-card-item {
  width: 427px;
  height: 340px;
  border-radius: 8px;
  background-color: var(--white);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.first-section-item-img {
  padding: 64px 161px 24px 162px;
}
.first-section-item-title {
  color: var(--black);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  padding-bottom: 16px;
}
.first-section-item-description {
  color: var(--black);
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  max-width: 379px;
  margin: 0 auto;
}
.second-section {
  max-width: 1384px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 193px;
}
.second-section-left {
  max-width: 644px;
}
.second-section-left-img {
  padding-bottom: 24px;
}
#second-section-left-title {
  color: var(--black);
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  padding-bottom: 24px;
}
#second-section-left-description {
  color: var(--black);
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.36px;
}
.second-section-right {
  width: 484px;
  height: 400px;
  background-color: var(--white);
  border-radius: 16px;
  border: 4px solid var(--black);
  box-shadow: 16px 16px var(--green);
}
#second-section-right-title {
  padding: 32px 291px 32px 40px;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.64px;
}
.second-section-right-item {
  display: flex;
  align-items: center;
  padding-left: 38px;
  /* padding-top: 24px; */
  padding-bottom: 24px;
}
.second-section-right-item-img {
  border-radius: 50%;
  padding-right: 16px;
}
.second-section-right-item-info {
  display: flex;
  flex-direction: column;
  gap: 4px 0;
}
.second-section-right-item-name {
  font-size: 24px;
  font-weight: 900;
  line-height: 26px;
  letter-spacing: -0.48px;
  color: var(--black);
}
.second-section-right-item-share {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.32px;
}
