.wrapper {
  padding: 0px 56px;
}
.header-container {
  max-width: 1384px;
  margin: 0 auto;
  padding-bottom: 370px;
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0px 191px 0px;
}
.header-logo-content {
  font-size: 32px;
}
.header-logo {
  display: flex;
  align-items: center;
  gap: 0 8px;
}
.menu {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  gap: 0 40px;
}
.menu-link {
  text-decoration: none;
  font-size: 20px;
  color: var(--black);
}
.selected {
  color: var(--green);
  font-weight: 700;
  letter-spacing: -0.4px;
}
.header-main {
  display: flex;
  align-items: center;
}
.header-title {
  font-size: 64px;
  line-height: 80px;
  display: inline-block;
  font-weight: 400;
  width: 608px;
  /* margin: 0; */
  padding-bottom: 24px;
  height: 240px;
}
.header-description {
  line-height: 32px;
  width: 608px;
  font-size: 24px;
  height: 64px;
  padding-bottom: 24px;
  letter-spacing: -0.48px;
  font-weight: 400;
  color: var(--gray);
}
.header-image-main {
  width: 712px;
  height: 488px;
}
.header-button {
  width: 245px;
  height: 64px;
  background-color: var(--green);
  border-radius: 8px;
  border-color: #fff;
  border: 0;
  padding: 20px 24px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
}

.first-section {
  max-width: 1384px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 193px;
}
.first-section-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 23px;
}
#first-section-title {
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  color: var(--black);
  padding-bottom: 24px;
}
#first-section-description {
  max-width: 895px;
  color: var(--black);
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.36px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 24px;
}

.first-section-card-item {
  width: 427px;
  height: 340px;
  border-radius: 8px;
  background-color: var(--white);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.first-section-item-img {
  padding: 64px 161px 24px 162px;
}
.first-section-item-title {
  color: var(--black);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  padding-bottom: 16px;
}
.first-section-item-description {
  color: var(--black);
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  max-width: 379px;
  margin: 0 auto;
}
.second-section {
  max-width: 1384px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 193px;
}
.second-section-left {
  max-width: 644px;
}
.second-section-left-img {
  padding-bottom: 24px;
}
#second-section-left-title {
  color: var(--black);
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  padding-bottom: 24px;
}
#second-section-left-description {
  color: var(--black);
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.36px;
}
.second-section-right {
  width: 484px;
  height: 400px;
  background-color: var(--white);
  border-radius: 16px;
  border: 4px solid var(--black);
  box-shadow: 16px 16px var(--green);
}
#second-section-right-title {
  padding: 32px 291px 32px 40px;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.64px;
}
.second-section-right-item {
  display: flex;
  align-items: center;
  padding-left: 38px;
  /* padding-top: 24px; */
  padding-bottom: 24px;
}
.second-section-right-item-img {
  border-radius: 50%;
  padding-right: 16px;
}
.second-section-right-item-info {
  display: flex;
  flex-direction: column;
  gap: 4px 0;
}
.second-section-right-item-name {
  font-size: 24px;
  font-weight: 900;
  line-height: 26px;
  letter-spacing: -0.48px;
  color: var(--black);
}
.second-section-right-item-share {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.32px;
}

/* Third-section */
.third-section {
  max-width: 1384px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 149px;
}
.third-section-left {
  width: 484px;
  height: 412px;
  border-radius: 16px;
  border: 4px solid var(--black);
  background-color: var(--white);
}
.third-section-left-header {
  display: flex;
  align-items: center;
  padding: 32px 0px 24px 40px;
}
#third-section-left-header-img {
  padding-right: 16px;
}
.third-section-left-header-info {
  display: flex;
  flex-direction: column;
  gap: 8px 0;
}
.third-section-left-header-name {
  color: var(--black);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.48px;
}
.third-section-left-header-subtitle {
  color: var(--gray);
  font-size: 16px;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: -0.32px;
}
.third-section-left-content {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-bottom: 32px;
}
#third-section-left-content-description {
  color: var(--black);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.32px;
  max-width: 404px;
  padding-bottom: 48px;
}
.third-section-left-content-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 273px;
  padding-bottom: 12px;
}
#third-section-left-content-commit,
#third-section-left-content-share {
  color: var(--gray);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.32px;
}
.third-section-left-content-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 273px;
}
#third-section-left-content-first-data,
#third-section-left-content-second-data {
  color: var(--black);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.48px;
}
.third-section-left-footer {
  padding-left: 40px;
}
#third-section-left-footer-btn {
  width: 404px;
  height: 56px;
  border-radius: 16px;
  background: var(--black);
  color: var(--white);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.48px;
  padding: 12px 24px;
}
.third-section-right {
  width: 644px;
  display: flex;
  flex-direction: column;
  gap: 24px 0;
}
.third-section-right-img {
  width: 80px;
  height: 80px;
}
#third-section-right-title {
  color: var(--black);
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
}
#third-section-right-description {
  color: var(--black);
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.36px;
}
.fourth-section {
  max-width: 1384px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 160px;
}
.fourth-section-left {
  width: 644px;
  display: flex;
  flex-direction: column;
  gap: 24px 0;
}
.fourth-section-left-img {
  width: 64px;
  height: 64px;
}
#fourth-section-left-title {
  color: var(--black);
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
}
#fourth-section-left-description {
  color: var(--black);
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.36px;
}

.fourth-section-right {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.fourth-section-right-header {
  width: 512px;
  height: 116px;
  border-radius: 16px;
  border: 4px solid var(--black);
  background: var(--white);
  padding: 24px;
  box-shadow: 0px 8px var(--green);
  margin-bottom: 40px;
}
#fourth-section-right-header-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
#fourth-section-right-header-title {
  color: var(--black);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.36px;
}
#fourth-section-right-header-title-share-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 32px;
  /* padding: 4px 8px; */
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.32px;
  background: var(--green);
  border-radius: 40px;
  border: 0;
}
#fourth-section-right-header-description {
  width: 404px;
  color: var(--black);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.32px;
}
.fourth-section-right-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fourth-section-right-main-left {
  width: 301px;
  height: 224px;
  padding: 32px 40px;
  border-radius: 16px;
  border: 4px solid var(--black);
  background: #f3f0ea;
  margin-right: 19px;
}
#fourth-section-right-main-title {
  color: var(--black);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.48px;
  margin-bottom: 24px;
}
.fourth-section-right-main-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.fourth-section-right-main-item-info {
  display: flex;
  align-items: center;
  gap: 0 16px;
}
.fourth-section-right-item-img {
  border-radius: 50%;
}
.fourth-section-right-item-name {
  color: var(--black);
  font-size: 20px;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: -0.4px;
}
.fourth-section-right-main-item-info-rating {
  display: flex;
  align-items: center;
  gap: 8px;
}
.fourth-section-right-item-number {
  color: var(--black);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
.fourth-section-right-main-right {
  width: 192px;
  height: 240px;
  border-radius: 16px;
  border: 4px solid var(--green);
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#fourth-section-right-main-right-img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  margin-bottom: 16px;
}
#fourth-section-right-main-right-title {
  color: var(--black);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.4px;
  margin-bottom: 4px;
}
#fourth-section-right-main-right-subtitle {
  color: var(--gray);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.32px;
  margin-bottom: 16px;
}
#fourth-section-right-main-right-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 192px;
  margin-bottom: 16px;
}
#fourth-section-right-main-right-rating-commit {
  color: var(--black);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
}
#fourth-section-right-main-right-rating-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
#fourth-section-right-main-right-rating-info-value {
  color: var(--black);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.4px;
}
#fourth-section-right-main-right-btn {
  width: 144px;
  height: 20px;
  border-radius: 16px;
  background: var(--black);
  color: var(--White, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.32px;
  padding: 12px 24px;
  text-align: center;
}
.last-section {
  max-width: 1384px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 112px;
}
.last-section-left {
  max-width: 644px;
}
#last-section-left-title {
  color: var(--black);
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  margin-bottom: 24px;
}
#last-section-left-description {
  color: var(--black);
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.36px;
  margin-bottom: 14px;
}

.footer-container {
  max-width: 1384px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
}
#footer-left-title {
  color: var(--black);
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.96px;
}
.footer-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.footer-item-link {
  color: var(--black);
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.4px;
  text-decoration: none;
}
.special-link {
  color: var(--green);
}
